/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: Source Sans Pro;
  background: url("img/colors.svg") no-repeat center center fixed;
  background-size: cover;
}

.column, .title, .col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.row, .contact, .content, .hobby, .caption, .skill, .skill .tools {
  display: flex;
  flex-direction: row;
}

body {
  margin: 0.9rem;
  height: auto;
  background-color: white;
}

h1 {
  font-weight: 900;
  font-size: 1.5rem;
}

h2 {
  color: #585858;
  font-weight: 400;
  font-family: Roboto Slab;
}

h3 {
  margin-bottom: 0.5rem;
  font-weight: 900;
  font-size: 1.1rem;
}

h4, p {
  font-family: Padauk;
}

.link {
  margin-top: 2rem;
}

.link a {
  text-decoration: none;
  cursor: pointer;
}

.contact {
  width: 15%;
  height: 3rem;
  float: right;
  align-items: center;
}

.title {
  align-items: center;
  justify-content: center;
  height: 15rem;
  clear: both;
}

.title h1 {
  margin-top: 3.5rem;
}

.title img {
  width: 6%;
}

.col {
  margin-top: 3.6rem;
}

.content, .hobby, .caption, .skill {
  padding: 1rem;
  margin-top: 1rem;
}

.content .line, .hobby .line, .caption .line, .skill .line {
  width: 100%;
  border-top: 0.2rem solid #f05955;
  align-self: center;
  margin-left: 1rem;
}

.content .triangle, .hobby .triangle, .caption .triangle, .skill .triangle {
  width: 0;
  height: 0;
  border-left: 0.3rem solid transparent;
  border-right: 0.3rem solid transparent;
  border-bottom: 0.5rem solid #f05955;
  margin: 0.3rem;
}

.content div, .hobby div, .caption div, .skill div {
  width: 100%;
}

.content div p, .hobby div p, .caption div p, .skill div p {
  color: #585858;
  margin-top: 0.8rem;
}

.hobby {
  text-align: center;
}

.hobby img {
  width: 6%;
}

.skill {
  align-items: baseline;
}

.skill .tools {
  text-align: center;
}

.skill .tools h3 {
  height: 2.5rem;
  width: 2.5rem;
  border: 0.1rem solid black;
  border-radius: 50%;
  line-height: 2.5;
}

@media (min-width: 960px) {
  .contact {
    width: 5%;
  }
  .title {
    height: 28rem;
  }
  .title a {
    font-size: 1.5rem;
  }
  .title h1 {
    font-size: 3rem;
  }
  .wrap {
    padding: 0 7rem;
  }
  .content, .hobby, .caption, .skill {
    flex-direction: column;
    width: 50%;
  }
  .content .triangle, .hobby .triangle, .caption .triangle, .skill .triangle {
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.8rem solid #f05955;
    margin-top: 1.3rem;
  }
  .caption {
    width: 20rem;
  }
  .col {
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
  }
  .col h1 {
    font-size: 2.2rem;
  }
  h2, h4, p, time, span {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  h4 {
    line-height: 1.5rem;
  }
  .hobby {
    flex-direction: row;
    justify-content: space-around;
  }
}
