@import 'reset';
$yellow: #efc511;
$blue: #329fb6;
$purple: #d784de;
$eggshell: #e9d09a;
$red: #f05955;
$grey: #514f4f;

html{
 font-family:Source Sans Pro; 
 background: url("img/colors.jpg") no-repeat center center fixed;
 background-size: cover;

}
 
 .wrap  {
margin: 0.9rem;
height: 60rem;
background-color: white;
 }

.column{
  display: flex;
  flex-direction: column;
}

.row{
   display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h1{
 font:{
    weight: 900;
    size: 1.5rem;
   }
}

h2{
 font:{
    weight: 400;
    size: 1.2rem;
   }
}

.title{
@extend .column;
align-items: center;
  h1{
    margin-top:4rem;
    }
}

.col{
  @extend .column;
  margin-top: 3.6rem;
}
.capition{
@extend .row;
.line{
    width: 12rem;
    border-top: 0.2rem solid $red;
    align-self:center;
;
       }
}

.content{
  @extend .row;
  padding: 1rem;
  margin-top: 1rem;

   time{
   width: 100%;
 }
 div{
   width: 100%;
     h3{
    font-weight:bold;
  }
  p{
    color: $grey;
    font-size: 1rem;
  }
 }
}